{% extends 'navbar.html' %}

{% block content %}

<div class="jumbotron bg-cover jumbotron-fluid text-white mask d-flex justify-content-center align-content-center flex-direction: flex-column"
    style="min-height: 100vh;padding-bottom: 0px;margin-bottom: 0px; background: url('{{ url_for('static', filename='assets/img/background-navy.jpg' ) }}') center / cover no-repeat;">
    <div class="container"
        style="background-color: rgba(0, 0, 0, 0.6);width: 100%;height: 100%;max-height: 100%;max-width: 100%;">
        <div class="row d-flex justify-content-center align-content-center">
            <div class="col d-flex justify-content-center align-content-center">
                <h1 class="display-4">Welcome {{name}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-6 d-flex justify-content-center" style="margin-top: 10px;margin-bottom: 10px;">
                <div class="flip-card d-flex justify-content-center align-content-center"
                    style="margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;color: rgba(33,37,41,0);height: 280px;border-color: rgba(23,162,184,0);">
                    <div class="flip-card-inner d-flex justify-content-center align-content-center"
                        style="height: 280px;width: 230px;">
                        <div class="flip-card-front d-flex justify-content-center text-center flex-direction: flex-column"
                            style="background: rgba(187,187,187,0);">
                            <h1 style="color: rgb(255,255,255);">search for books</h1>
                        </div>
                        <div class="flip-card-back d-flex justify-content-center text-center flex-direction: flex-column"
                            style="background: rgba(255,240,240,0);">
                            <div class="col d-flex justify-content-center text-center flex-direction: flex-column"
                                style="margin: auto;margin-top: 60px;min-width: 100%;">
                                <form method="post">
                                    <input class="form-control" type="search" style="margin-bottom: 10px;" name="search_book"
                                        value={{request.form.searchbook}}>
                                    <button class="btn btn-navy" type="submit" name="search_btn" value="book_search_btn">search
                                        books</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-6 d-flex justify-content-center" style="margin-top: 10px;margin-bottom: 10px;">
                <div class="flip-card d-flex justify-content-center align-content-center"
                    style="margin-top: 10px;margin-right: 10px;margin-bottom: 10px;margin-left: 10px;color: rgba(33,37,41,0);height: 280px;border-color: rgba(23,162,184,0);">
                    <div class="flip-card-inner d-flex justify-content-center align-content-center"
                        style="height: 280px;width: 230px;">
                        <div class="flip-card-front d-flex justify-content-center text-center flex-direction: flex-column"
                            style="background: rgba(187,187,187,0);">
                            <h1 style="color: rgb(255,255,255);">search for users</h1>
                        </div>
                        <div class="flip-card-back d-flex justify-content-center text-center flex-direction: flex-column"
                            style="background: rgba(255,240,240,0);">
                            <div class="col d-flex justify-content-center text-center flex-direction: flex-column"
                                style="margin: auto;margin-top: 60px;">
                                <form method="post">
                                    <input class="form-control" type="search" style="margin-bottom: 10px;" name="search_user" value = {{request.form.searchuser}}>
                                    <button class="btn btn-navy"  type="submit" name="search_btn" value = "user_search_btn">search users</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}